@import "../../styles/variables";

.about {
  width: 100vw;
  padding: 110px 0;
  display: grid;
  place-items: center;
  & > div {
    display: flex;
    height: 100%;
    max-width: 1100px;
    width: 100%;
    @media (max-width: 990px) {
      flex-direction: column;
      align-items: center;
      padding: 70px;
    }
    @media (max-width: 480px) {
      padding: 0px;
    }
  }

  &__imageWrapper {

    img {
      width: 670px;

      @media (max-width: 1200px){
          width: 530px;
      }
      @media (max-width: 990px){
          width: 570px;
      }
      @media (max-width: 768px){
          width: 510px;
      }
      @media (max-width: 576px){
          width: 100%;
      }

    }
  }

  &__textContent {
padding: 0 20px;
    height: 100%;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // border: solid 2px red;
    @media (max-width: 990px) {
      width: 70%;
      margin: 50px 0;
    }
    @media (max-width: 570px) {
      width: 90%;
      padding: 0;
    }

    &_sectionName {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 22px;
      color: $first-color;
    }

    &_title {
      color: rgb(7, 35, 102);
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 50.4px;

    }

    &_describe {
      font-size: 18px;
      font-weight: 400;
      line-height: 32.4px;
    }

    &_button {
      color: $first-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;

      &::after {
        content: "";
        height: 3px;
        width: 100%;
        background-color: $first-color;
        display: inline-block;
      }

      &:hover {
        color: $first-color;
        letter-spacing: 1.5px;
      }
    }
  }
}
